body{
    display: block;
    align-items: center;
    justify-content: right;
}
.feuille{
    border : 10px solid #9c0707b4;
    border-style: double ;
    border-radius: 50%; 
    padding: 55px 55px;
 background-image: linear-gradient(rgba(33, 171, 162, 0.345) , rgba(16, 7, 185, 0.3)), url(./Images/leaf-4501293_1920.jpg);
    background-position: center;
    background-size: cover;
    height: 280px;
    width: 280px;   
}
.Rond {
    display: flex;
    align-items: center;
    justify-content:space-around;
    
}
#oeil {
    display: block;
    background-image: url(./Images/pngtree-closeup-of-human-eye-with-glowing-iris-3d-a-pink-on-png-image_12721431.png);
    height: 110px;
    width: 110px;
    background-size: cover;
    border-radius: 50%;
}
.blancoeil {
    display: inherit;
    height: 110px;
    width: 110px;
    border-radius: 75% 75% 75% 75%;
    background: radial-gradient(rgb(224, 56, 89), rgb(158, 209, 230));
}
